{# agcms/templates/layer-search.html.twig #}
<div class='agocms-layer-search' d-field-name='{{field_name}}'>
  <p>Feature Layer:</p>
  <ol>
    <li>
      <span>Search AGO Groups to narrow Feature Service results.</span><br/>
      <input class='agocms-featurelayer-select-group-search'
          id='agocms-featurelayer-select-input-search-{{field_name}}'
          list='agocms-featurelayer-select-group-search-{{field_name}}'
          d-field-name='{{field_name}}'
          autocomplete='off'>
      <datalist id='agocms-featurelayer-select-group-search-{{field_name}}'></datalist>
    </li>
    <li>
      <span>Search Feature Services within selected Group.</span><br/>
      <input class='agocms-featurelayer-select-service-search'
          id='agocms-featurelayer-select-service-input-{{field_name}}'
          list='agocms-featurelayer-select-service-search-{{field_name}}'
          d-field-name='{{field_name}}'
          autocomplete='off'>
      <datalist id='agocms-featurelayer-select-service-search-{{field_name}}'></datalist>
    </li>
    <li>
      <span>Select Layer in Feature Service.</span><br/>
      <select class='agocms-featurelayer-select-layer-select'
          id='agocms-featurelayer-select-layer-select-{{field_name}}'
          d-field-name='{{field_name}}'></select>
    </li>
  </ol>
</div>
